# Pre-Model EDA

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib_venn import venn2

In [8]:
game_df = pd.read_csv('../datasets/base_data.csv')

In [15]:
game_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,9840.0,4919.500000,2840.707658,0.0,2459.75,4919.5,7379.25,9839.0
gold_left,9840.0,9.685671,17.451114,0.0,1.00,2.0,11.00,180.0
last_round,9840.0,31.279675,5.103466,11.0,27.00,31.0,35.00,45.0
level,9840.0,7.657012,0.856239,4.0,7.00,8.0,8.00,9.0
placement,9840.0,4.500000,2.291404,1.0,2.75,4.5,6.25,8.0
...,...,...,...,...,...,...,...,...
Wind_2,9840.0,0.012093,0.109309,0.0,0.00,0.0,0.00,1.0
Wind_3,9840.0,0.005894,0.076552,0.0,0.00,0.0,0.00,1.0
Woodland_0,9840.0,0.078557,0.269060,0.0,0.00,0.0,0.00,1.0
Woodland_1,9840.0,0.055996,0.229926,0.0,0.00,0.0,0.00,1.0
Woodland_2,9840.0,0.002439,0.049329,0.0,0.00,0.0,0.00,1.0

In [23]:
# summary statistics of players with high placements (1 or 2)
game_df[game_df['placement']<= 2].describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,2460.0,4919.489837,2841.084591,5.0,2459.5,4918.0,7379.25,9839.0
gold_left,2460.0,6.984146,11.276163,0.0,1.0,2.0,8.00,74.0
last_round,2460.0,37.203252,2.370207,31.0,35.0,37.0,38.00,45.0
level,2460.0,8.258130,0.661830,6.0,8.0,8.0,9.00,9.0
placement,2460.0,1.500000,0.500102,1.0,1.0,1.5,2.00,2.0
...,...,...,...,...,...,...,...,...
Wind_2,2460.0,0.017073,0.129570,0.0,0.0,0.0,0.00,1.0
Wind_3,2460.0,0.011789,0.107955,0.0,0.0,0.0,0.00,1.0
Woodland_0,2460.0,0.071951,0.258460,0.0,0.0,0.0,0.00,1.0
Woodland_1,2460.0,0.043902,0.204920,0.0,0.0,0.0,0.00,1.0
Woodland_2,2460.0,0.004472,0.066734,0.0,0.0,0.0,0.00,1.0

In [35]:

placement_12_df = game_df[game_df['placement']<= 2]
placement_12_df = placement_12_df.sum()
placement_12_df = pd.DataFrame(placement_12_df)
placement_12_df
# placement_12_best = placement_12_df.sort_values(ascending = False).head(10)
# placement_12_best

                                                            0
Unnamed: 0                                           12101945
companion   {'content_ID': '069301c3-099a-4682-a6b6-95f111...
gold_left                                               17181
last_round                                              91520
level                                                   20315
...                                                       ...
Wind_2                                                     42
Wind_3                                                     29
Woodland_0                                                177
Woodland_1                                                108
Woodland_2                                                 11

[245 rows x 1 columns]

In [ ]:
plt.hist([''], bins = (12*8));
plt.gca().set(title='', ylabel='', xlabel = 'Date');

In [19]:
# summary statistics of players with low placements (7 or 8)
game_df[game_df['placement']>= 7].describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,2460.0,4919.483333,2841.130034,3.0,2456.75,4919.0,7376.5,9835.0
gold_left,2460.0,15.930894,25.744816,0.0,1.00,4.0,21.0,171.0
last_round,2460.0,25.139431,3.013672,11.0,24.00,26.0,27.0,33.0
level,2460.0,7.006504,0.840200,4.0,7.00,7.0,8.0,9.0
placement,2460.0,7.500000,0.500102,7.0,7.00,7.5,8.0,8.0
...,...,...,...,...,...,...,...,...
Wind_2,2460.0,0.009350,0.096260,0.0,0.00,0.0,0.0,1.0
Wind_3,2460.0,0.002033,0.045047,0.0,0.00,0.0,0.0,1.0
Woodland_0,2460.0,0.093902,0.291752,0.0,0.00,0.0,0.0,1.0
Woodland_1,2460.0,0.048780,0.215453,0.0,0.00,0.0,0.0,1.0
Woodland_2,2460.0,0.000407,0.020162,0.0,0.00,0.0,0.0,1.0

In [ ]:
# code snippet from my reddit classification project

plt.figure(figsize = (32,22))

sns.set_style("whitegrid")
sns.set(font_scale = 2)

ax1 = plt.subplot(221)
ax1.set_xlabel('count', fontsize=25)
ax1.set_ylabel('word', fontsize=25)
ax1.set_title('dadjokes (single word)',fontsize = 30)
ax1 = sns.barplot(data=top1_dadjokes_df.head(10),x='count',y='word',orient='h')

ax2 = plt.subplot(222)
ax2.set_xlabel('count', fontsize=25)
ax2.set_ylabel('word', fontsize=25)
ax2.set_title('jokes (single word)', fontsize = 30)
ax2 = sns.barplot(data=top1_jokes_df.head(10),x='count',y='word',orient='h')

ax1 = plt.subplot(223)
ax1.set_xlabel('count', fontsize=25)
ax1.set_ylabel('word', fontsize=25)
ax1.set_title('dadjokes (double word)',fontsize = 30)
ax1 = sns.barplot(data=top2_dadjokes_df.head(10),x='count',y='word',orient='h')

ax2 = plt.subplot(224)
ax2.set_xlabel('count', fontsize=25)
ax2.set_ylabel('word', fontsize=25)
ax2.set_title('jokes (double word)', fontsize = 30)
ax2 = sns.barplot(data=top2_jokes_df.head(10),x='count',y='word',orient='h')